div
{
	margin:20px auto;
	width:500px;
	text-align:center;
	box-sizing:border-box;
	border:1px solid black;
}
.on
{
	margin:30px auto;
	width:30px;
	color:blue;
	background-color:white;
	text-align:right;
}
.off
{
	margin:60px auto;
	width:60px;
	color:red;
	background-color:black;
	text-align:left;
}

body
{
	background-color:black;
}