div
{
	margin:20px auto;
	width:500px;
	text-align:center;
	box-sizing:border-box;
	padding:10px;
	border:1px solid black;
}
.on
{
	color:blue;
	background-color:white;
	margin-left: 500px;
}
.off
{
	color:red;
	background-color:black;
	margin-right: 500px;
}

body
{
	background-color:black;
}