div
{
	margin:20px auto;
	width:500px;
	text-align:center;
	box-sizing:border-box;
	padding:10px;
	border:1px solid black;
	.ech 
{
	margin:5px auto;
	width:50px;
	text-align:center;
	box-sizing:border-box;
	padding:10px;
	border:1px solid black;
}
}
.on
{
	color:blue;
	background-color:white;
	text-align:right;
}	
.off
{
	color:red;
	background-color:black;
	text-align:left;
}

body
{
	background-color:black;
}